$transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$primary-text-color: #212121;
$secondary-text-color: #757575;
$light-text-color: #ffffff;
$button-background-color: #f5f4fa;
$active-color: #2196f3;
$background-dark: #2f303a;
$icons-light-color: #afb1b8;
